<% provide(:title, "About") %>
<h1>About</h1>
<p>
  JTwit is a Twitter inspired social media web application.<br>
  If you want to see more of my work checkout my portfolio 
  <a href="https://jqnguyen15.github.io/" target="_blank">here!</a>
</p>
