<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact info on 
  <a href="https://jqnguyen15.github.io/" target="_bank">my portfolio page</a>.<br>
  Email: <a href="mailto:jamesnguyen23@gmail.com">jamesnguyen23@gmail.com</a><br>
  LinkedIn: <a href="https://www.linkedin.com/in/jqnguyen15" target="_bank">https://www.linkedin.com/in/jqnguyen15</a>
</p>