<div class="center jumbotron">
  <h1>Welcome to the JTwit</h1>

  <h2>
    This is the home page for my Twitter inspired social media web app</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
